<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    </script>
    <script>
        function addProduct() {
            $.ajax({
                dataType: "json",
                type: 'get',
                url: "/cities"
            }).done(function (data) {
                console.log(data);

                var $dropdown = $("#dropdown");
                $.each(data, function (index, value) {
                    $('#city').val($('#city').val() + "; name: " + value.name + " id: " + value.id);
                    $dropdown.append($("<option />").val(value.id).text(value.name));
                });
            }).fail(function (data) {
                if (console && console.log) {
                    console.log("Error data:", data)
                }
            });
        };
    </script>
</head>
<body>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
    </tr>
    <tr th:each="city : ${cities}">
        <td th:utext="${city.id}">...</td>
        <td th:utext="${city.name}">...</td>
        <td th:utext="${city.location}">...</td>
    </tr>
</table>
<div>
    <form th:action="@{/addCity}"
          th:object="${addCity}" method="post">
        <div th:if="${#fields.hasErrors('name')}">
            <span th:errors="*{name}" class="error"></span>
        </div>
        <label>
            Name:
            <input type="text" th:field="*{name}"/>
        </label>
        <br/>
        <label>
            Location:
            <input type="text" th:field="*{location}"/>
        </label>
        <br/>
        <input type="submit" value="Добавить город"/>
    </form>
</div>

<input type="button" id="send" name="get cities" value="press"/>
<input type="text" id="city" size="255"/>
<select id="dropdown">
</select>

<script>
    $(document).ready(function () {
        $('#send').click(function () {
            addProduct();
        });
    })
</script>
</body>
</html>